
.carousel {
  position:relative ;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);

}
 .carousel-item {
    position: absolute;
    width: 100%;
    height:75vh;
    top: 0;
    left: 100%;
 }
 
 .carousel-item.active {
      left: 0;
      transition: all .4s ease-in-out;
    }



    
    .red {
        /* background-color: red; */
        background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url(image/pexels-karolina-grabowska-4239146.jpg);
       
     
        height: 100%;
    }
    .green {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(image/pexels-matilda-wormwood-4098786.jpg);
      
        height: 100%;
    }

    .yellow {
       background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url(image/pexels-pixabay-209230.jpg);
        height: 100%;
    }


    .violet {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url(image/pexels-pixabay-48889.jpg);
        height: 100%;
    }


      .slideshow{
        display: flex;
        justify-content: center;
      }


      .bg_slide{
         background-repeat: repeat;
         background-size: 100%;
         background-position: center;
         background-repeat: no-repeat;
    
    }
    



        
.wrapper {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.video-main {
  position: relative;
  display: inline-block;
}

.video {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: transparent;
  color: #fff;
  display: inline-block;
  background: #000000;
  z-index: 999;
}

@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.fa-play:before {
  content: "\f04b";
}

.waves {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 100%;
  right: -50px;
  bottom: -50px;
  z-index: -1;
   -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
}
        
.wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}



.ham{
  filter: brightness(100%) invert(1);
   

}
.ham img{
 width: 7rem;
 padding: 2.2rem;
}

.ham-menu{
  position: fixed;
  background-color: #161516;
  width: 350px;
  display: block !important;
  height: 100%;
  z-index: 999;
  right: 0;
}

.ham_list{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;

}
.ham_list li{
  padding: 2rem;
  list-style: none;
  display: flex;
  font-size: 1.5rem;
  border-bottom: none;
}
.ham_list li:hover{
  
  border-bottom: 1px solid orangered;
}

.ham_close{
  filter: brightness(100%) invert();
  
  
}

.right{
  display: flex;
  justify-content: flex-end;
  padding: 4rem;
  
}
.ham-items{
  display: flex;
  flex-direction: column;
}
.right img{
  width: 7rem;
 padding: 2.2rem;
 
}

.right img:active{
  
 animation: jump 1s 1;
}

.ham img:active{
  animation: jump 1s 1;
 }
 




.ham-menu{
  animation: ham 1s 1;
  
  border-left: 1px solid #ffffff;
  /* animation-direction: reverse; */
}


@keyframes ham {
 from {
    
     right: -20%;
     
  }


  to {
    right: 0;
  }
}



@keyframes jump {
  from  {transform: scale(0.5)
  }
 
  to {transform:scale(1.2)
  
  }
}


